<form>
    <h1>Adicionar Novo Contato</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="contact.name" type="text" name="name" placeholder="">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Telefone</mat-label>
        <input matInput [(ngModel)]="contact.phone" type="text" name="phone" placeholder="(34)998815006">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="contact.email" type="text" name="email" placeholder="teste@email.com">
    </mat-form-field>

    <div class="buttons">
        <button (click)="saveContact()" class="mat-elevation-z8" mat-raised-button color="primary">CRIAR</button>
        <button (click)="cancelBtn()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
    </div>

</form>