<form>
    <h1>Adicionar Novo Contato</h1>

    <mat-form-field class="form">
        <mat-label>NOME</mat-label>
        <input matInput [(ngModel)]="contact.name" type="text" name="name" placeholder="" required>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>TELEFONE</mat-label>
        <input matInput mask="(00) 0-0000-0000" [(ngModel)]="contact.phone" type="text" name="phone" placeholder="(34) 9-9881-5006" required>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>EMAIL</mat-label>
        <input matInput [(ngModel)]="contact.email" type="text" name="email" placeholder="teste@email.com">
    </mat-form-field>

    <div class="buttons">
        <button (click)="saveContact()" class="mat-elevation-z8" mat-raised-button color="primary">CRIAR</button>
        <button (click)="cancelBtn()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
    </div>

</form>