.home {
  width: 95%;
  margin: 1rem auto;
}

@media (max-witdh: 395px) {
    .home {
      width: 70%;
    }
  }

@media (max-witdh: 450px) {
  .home {
    width: 70%;
  }
}

@media (max-witdh: 770px) {
    .home {
      width: 80%;
    }
  }

  @media (max-witdh: 880px) {
    .home {
      width: 90%;
    }
  }
